
main{
    
}
#section-1{
    background-color: rgb(245, 240, 230);
    scroll-margin-top: 148px;
}

#section-2{
    scroll-margin-top: 148px;
    color:white;
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
    width:100%;
}
#section-subscribe{
    scroll-margin-top: 148px;
    color:white;
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
    width:100%;
}


div{
    display: inline-block;
}

li{
    display:inline;
}
nav{
    display: inline-block;
    position: sticky;
    top: 0;
    overflow: hidden;  
    background-color: white;
    width: 100%;   
}
nav>img{
    max-width: 400px;   
}
nav>ul>li>a{
    font-size:28px;
    text-decoration: none;
    color:black;
}
nav > ul>li>a:hover {
    background-color: #182b49;
    color: white;
}

#navbar-logo{
    max-width: 400px;
}

.grid-container{
    display: grid;   
    grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;
}
#section-3{
    background-color: rgb(245, 240, 230);
    scroll-margin-top: 148px;
}
.one {
    background-color: #182b49;
    color:white;
    overflow:scroll;
    max-height: 500px;
  }
  .two {
    background-color: #182b49;
    color:white;
    max-height: 500px;
    overflow:scroll;

  }
  .three {
    max-height: 500px;
    color:white;
    overflow:scroll;
    background-color: #182b49;
  }
  .four {
    max-height: 500px;
    color:white;
    background-color: #182b49;
    overflow:scroll;
    
  }
  
  @media screen and (max-width: 800px) {
    nav>ul>li>a {
      display:none;
    }
    nav>img{
        width:75%;
    }
    h1{
        font-size: 24px;
    }
    p{
        font-size: 20px;
    }
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
  }
  